
@{
    ViewBag.Title = "Product";
}

<h3>
    <a href="/Product/ShowProduct" class="btn btn-info">Product List</a> <a href="/Product/AddProduct" class="btn btn-info">Add Product</a>
    <a href="/Product/Product" class="btn btn-info">Add to Cart</a> <a href="/Product/Orders" class="btn btn-info">Orders</a>
    <a href="/Product/Cart" class="btn btn-info">Cart</a>

</h3>
<br />
<h3>Buy Product</h3>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Quantity</th>
        <th>Add to Cart</th>
    </tr>
    @foreach (var p in Model)
    {
            <tr>
                <form action="" method="POST">
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>@p.Qty</td>
                    <td>
                        <input type="number" min="1" max="@p.Qty" class="form-control" name="Qty" placeholder="Quantity" />
                        <input type="hidden" class="form-control" name="Id" value="@p.Id" />
                        <input type="hidden" class="form-control" name="Name" value="@p.Name" />
                        <input type="hidden" class="form-control" name="Price" value="@p.Price" />
                    </td>
                    <td><input type="submit" class="btn btn-info" value="ADD TO CART" /></td>
                </form>
            </tr>
    }
</table>
